header {
    display: grid;
    width: 100%;
    height: 80px;
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "toCarrier fromCarrier addToTable"
        "productTier fromCarrierRatecard addToTable";

    .toCarrierContainer {
        grid-area: toCarrier;
        padding: 0px 5px 0px 5px;

        span {
            margin-right: 5px;
        }

        .toCarrierSelect /deep/ {
            width: 200px;
        }
    }

    .productTierContainer {
        grid-area: productTier;
    }

    .fromCarrierContainer {
        grid-area: fromCarrier;
    }

    .fromCarrierRatecardContainer {
        grid-area: fromCarrierRatecard;
    }

    .addToTableContainer {
        grid-area: addToTable;
    }
}