<header>
    <!-- To Carrier --> 
    <div class="toCarrierContainer">
        <span>To: </span>
        <nz-select 
            style="width: 100%"
            nzShowSearch 
            nzAllowClear 
            nzPlaceHolder="Carrier" 
            [(ngModel)]="selectedValues.toCarrierValue"
            (ngModelChange)="toCarrierChangeHandler()"
        >
            <nz-option *ngFor="let carrier of toCarrierOptions" [nzLabel]="carrier.name" [nzValue]="carrier.id"></nz-option>
        </nz-select>
    </div>

    <!-- Choose Product Tier -->
    <div class="productTierContainer">
        <nz-select
            style="width: 100%; padding-left: 26px;"
            nzShowSearch 
            nzAllowClear 
            nzPlaceHolder="Product Tier" 
            [(ngModel)]="selectedValues.productTierValue"
            [nzDisabled]="selectDisabled.productTierDisabled"
            (ngModelChange)="productTierChangeHandler()"
        >
            <nz-option *ngFor="let productTier of productTierOptions" [nzLabel]="productTier.label" [nzValue]="productTier.value"></nz-option>
        </nz-select>
    </div>

    <!-- From Carrier -->
    <div class="fromCarrierContainer">
        <span>From:</span>
        <nz-select 
            style="width: 100%;"
            nzShowSearch 
            nzAllowClear 
            nzPlaceHolder="From Carrier" 
            [(ngModel)]="selectedValues.fromCarrierValue" 
            [nzDisabled]="selectDisabled.fromCarrierDisabled"
            (ngModelChange)="fromCarrierChangeHandler()"
        >
            <nz-option *ngFor="let carrier of fromCarrierOptions" [nzLabel]="carrier.name" [nzValue]="carrier.id"></nz-option>
        </nz-select>
    </div>

    <!-- From Carrier Ratecard -->
    <div class="fromCarrierRatecardContainer">
    <nz-select 
        style="width: 100%; padding-left: 44px;"
        nzShowSearch 
        nzAllowClear 
        nzPlaceHolder="From Carrier Ratecard" 
        [nzDisabled]="selectDisabled.fromCarrierRatecardDisabled"
        [(ngModel)]="selectedValues.fromCarrierRatecardValue"
        (ngModelChange)="fromCarrierRatecardChangeHandler($event)"
    >
        <nz-option *ngFor="let ratecard of fromCarrierRatecardOptions" [nzValue]="ratecard.id" [nzLabel]="ratecard.display"></nz-option>
    </nz-select>
    </div>

    <div class="addToTableContainer">
        <button 
            nz-button 
            nzType="primary" 
            class="addRatecardBtn" 
            (click)="addRatecardDataToTable()"
            [disabled]="selectDisabled.addDataToTableDisabled"
        >
        Add Ratecard</button>
    </div>

</header>