<header>
    <!-- To Carrier --> 
    <div class="toCarrierContainer">
        <span>To:</span>
        <nz-select 
            style="width: 200px;"
            nzShowSearch 
            nzAllowClear 
            nzPlaceHolder="Carrier" 
            [(ngModel)]="toCarrierValue"
            (ngModelChange)="toCarrierChangeHandler($event)"
        >
            <nz-option *ngFor="let carrier of toCarrierOptions" [nzLabel]="carrier.name" [nzValue]="carrier.id"></nz-option>
        </nz-select>
    </div>

    <!-- From Carrier -->
    <div>
        <span>From:</span>
        <nz-select 
            style="width: 200px; margin-right: 5px;" 
            [(ngModel)]="fromCarrierValue" 
            [nzDisabled]="fromCarrierDisabled"
            (ngModelChange)="fromCarrierChangeHandler($event)"
        >
            <nz-option *ngFor="let carrier of fromCarrierOptions" [nzLabel]="carrier.name" [nzValue]="carrier.id"></nz-option>
        </nz-select>
    </div>

    <!-- Choose Product Tier -->
    <div>
        <nz-select
            style="width: 200px; margin-left: 25px;" 
            nzShowSearch 
            nzAllowClear 
            nzPlaceHolder="Product Tier" 
            [(ngModel)]="productTierValue"
            [nzDisabled]="productTierDisabled"
            (ngModelChange)="productTierChangeHandler($event)"
        >
            <nz-option *ngFor="let productTier of productTierOptions" [nzLabel]="productTier.label" [nzValue]="productTier.value"></nz-option>
        </nz-select>
    </div>

    <!-- From Carrier Ratecard -->
    <nz-select 
        style="width: 300px; margin-left: 43px;" 
        [nzDisabled]="fromCarrierRatecardDisabled"
        [(ngModel)]="fromCarrierRatecardValue"
        (ngModelChange)="fromCarrierRatecardChangeHandler($event)"
    >
        <nz-option *ngFor="let ratecard of fromCarrierRatecardOptions" [nzValue]="ratecard.id" [nzLabel]="ratecard.display"></nz-option>
    </nz-select>

    <button nz-button [nzSize]="large" nzType="primary" (click)="addRatecardDataToTable()">Primary</button>

</header>