header {
    display: grid;
    grid-template-columns: 260px 3fr;
    grid-template-rows: 40px 40px;
    border-bottom: 1px solid #ccc;

    .toCarrierContainer {
        grid-column: 0 / 1;
        grid-row: 0 / 1;
    }

    &:nth-child(n + 1) {
        span {
            margin-right: 5px;
        }
    }
    
}