<section>
    <!-- Global Search -->
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
        <input #gb type="text" pInputText placeholder="Global Search...">         
    </div>

    <!-- Table -->
    <p-dataTable [value]="carriers" [globalFilter]="gb" [editable]="true">

        <!-- ID -->
        <p-column field="id" header="ID" [sortable]="true"></p-column>

        <!-- Date -->
        <p-column field="date" header="Date Inserted" [sortable]="true"></p-column>

        <!-- Carrier Name -->
        <p-column 
            field="name" 
            header="Name" 
            [filter]="true" filterPlaceholder="Search"
            [sortable]="true"
            [editable]="true"
        ></p-column>

        <!-- Address -->
        <p-column 
            field="address" 
            header="Address" 
            [filter]="true" filterPlaceholder="Search"
            [sortable]="true" 
            [editable]="true" [style]="{'overflow':'visible' }"
        ></p-column>

        <p-column field="phone_number" header="Phone#" [editable]="true"></p-column>
        <p-column field="taxable" header="Taxable" [editable]="true"></p-column>
        <p-column field="tier_number" header="Tier#" [editable]="true"></p-column>
        <p-column field="two_digit_unique_code" header="Two Digit Code" [editable]="true"></p-column>
    </p-dataTable>
</section>