section {
    width: 100%; height: 100%;

    .country-picker-container {
        width: 14vw; height: 100vh;
        margin-left: 10px;
        float: left;

        #country-picker-table {
            width: 98%; height: 85vh;
            float: left;
            border-top: 1px solid #E0E0E0;
            border-right: 1px solid #E0E0E0;
        }
    }

    .carrier-container {
        width: 70vw; height: 100vh; 
        float: left;

        #carrier-table {
            width: 100%; height: 85vh;
            float: left;
            border-top: 1px solid #E0E0E0;
            border-right: 1px solid #E0E0E0;
        }
    }

    .grid-toolpanel-container {
        width: 6vw; height: 100vh;
        margin-left: 10px;
        float: left;

        #toolpanel-table {
            width: 100%; height: 85vh;
            float: left;
            border-top: 1px solid #E0E0E0;
        }
    }

}