<section>
    <div class="country-picker-container">
        <ag-grid-angular class="ag-theme-material" id="country-picker-table"
            [columnDefs]="columnDefsCountry" [rowData]="rowDataCountry"
            [rowSelection]="rowSelection" (rowSelected)="rowSelected($event)" [suppressRowClickSelection]="true"
            [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"

            (gridReady)="on_GridReady_country($event)"
        >
        </ag-grid-angular>
   
        <mat-toolbar-row>
        </mat-toolbar-row> 
    </div>
    <div class="carrier-container">
        <ag-grid-angular class="ag-theme-material" id="carrier-table"
            [columnDefs]="columnDefsCarrier" [rowData]="" [animateRows]="true"
            [suppressRowClickSelection]="true"
            [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"

            (gridReady)="on_GridReady_carrier($event)"
        >
        </ag-grid-angular>

        <mat-toolbar-row>
        </mat-toolbar-row>
    </div>
    <div class="grid-toolpanel-container">
        <ag-grid-angular class="ag-theme-material" id="toolpanel-table"
            [columnDefs]="columnDefsToolpanel" [rowData]="rowDataToolpanel"
            [rowSelection]="rowSelection" (selectionChanged)="selectionChanged($event)" [suppressRowClickSelection]="true"
            [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true"

            (gridReady)="on_GridReady_toolpanel($event)"
        >
        </ag-grid-angular>

        <mat-toolbar-row>
        </mat-toolbar-row>
    </div>

</section>
