button {
    border: 1px solid black;
    margin-right: 5px;
}

mat-form-field {
    width: 96%;
    margin-bottom: 1%;
}

.origination-section {
    width: 20%;
    float: left;
}

.destination-section {
    width: 79%;
    float: left;
}

.half-width {
    width: 49%;
}

.country-code-form {
    overflow-y: scroll; height: 30vh;
}

.details {
    overflow-y: scroll; height: 30vh;
}

.country-code-trash {
    border: none;
}

.country-code-trash:hover {
    color: red;
}

.country-code-trash:focus {
    outline: 0;
}

/deep/ .mat-horizontal-stepper-header{
    pointer-events: none !important;
}