.add {
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 30px;
}

.upload {
    border: 1px solid black;
    margin-top: 10px;
}

mat-horizontal-stepper button {
    border: 1px solid black;
}

// rate card  nameinput box
mat-input-infix mat-form-field-infix {
    width: 80%;
}

.example-full-width {
    width: 80%;
}

.mat-input-container {
    width: 80%; 
}

.carrierId {
    display: none;
}