<mat-horizontal-stepper> <!-- linear forces user to complete ea step -->

    <!-- Choose Call Plan Step -->
    <mat-step [stepControl]="addCarrierFormGroup" [completed]="false">
        <form [formGroup]="addCarrierFormGroup">
            <ng-template matStepLabel>Choose Carrier</ng-template>
            <mat-form-field>
                <mat-select placeholder="Carriers" formControlName="carrierCtrl">
                    <mat-option *ngFor="let carrier of carrierObj" [value]="carrier.id">
                        {{ carrier.carrier }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
            <button mat-button matStepperNext [disabled]="addCarrierFormGroup.invalid"> Next </button>
            </div>
        </form>
    </mat-step>

    <!-- Attach Call Plan Step -->
    <mat-step [stepControl]="attachCallPlanFormGroup" [completed]="false">
        <form [formGroup]="attachCallPlanFormGroup" > 
            <ng-template matStepLabel>Add Call Plan</ng-template>

            <mat-form-field class="half-width">
                <input matInput placeholder="Title" formControlName="titleCtrl" >
            </mat-form-field>

            <mat-form-field class="half-width">
                <input matInput placeholder="Subtitle" formControlName="subtitleCtrl" >
            </mat-form-field>

            <mat-form-field class="half-width"> 
                <mat-select placeholder="Status" formControlName="availableCtrl">
                    <mat-option *ngFor="let s of status" [value]="s.value">
                        {{ s.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>  

            <mat-form-field class="half-width">
                <input matInput [matDatepicker]="picker" placeholder="Plan Valid Until" formControlName="validthroughCtrl">
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
            </mat-form-field>

            <mat-form-field class="half-width"> <!-- Buy price input -->
                <span matPrefix>$ &nbsp;</span>
                <input matInput placeholder="Buying Price of Call Plan" formControlName="buypriceCtrl" >
                <mat-error *ngIf="attachCallPlanFormGroup.get('buypriceCtrl').invalid">
                    {{priceErr()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="half-width"> <!-- Sell price input -->
                <span matPrefix>$ &nbsp;</span>
                <input matInput placeholder="Selling Price of Call Plan" formControlName="sellpriceCtrl" >
                <mat-error *ngIf="attachCallPlanFormGroup.get('sellpriceCtrl').invalid">
                    {{priceErr()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="half-width">
                <input matInput placeholder="Length of plan in days" formControlName="dayperiodCtrl" matTooltip="Type 0 for unlimited days">
                <mat-error *ngIf="attachCallPlanFormGroup.get('dayperiodCtrl').invalid">
                    {{isNaNErr()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="half-width">
                <input matInput placeholder="Call Plan Rank" formControlName="rankingCtrl" >
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Call Plan Type" formControlName="plantypeCtrl" (change)="onChangePlanType()">
                    <mat-option *ngFor="let plan of planType" [value]="plan.value">
                        {{ plan.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>     
            
            <mat-form-field class="half-width" *ngIf="onChangePlanType()">
                <input matInput placeholder="Maximum Destination Numbers" formControlName="maxdestinationCtrl" >
                <mat-error  *ngIf="attachCallPlanFormGroup.get('maxdestinationCtrl').invalid">
                    {{isNaNErr()}}                                                   
                </mat-error>
            </mat-form-field>
 
            <mat-form-field class="half-width" *ngIf="onChangePlanType()">
                <input matInput placeholder="Maximum Minutes" formControlName="maxminutesCtrl" >
                <mat-error  *ngIf="attachCallPlanFormGroup.get('maxminutesCtrl').invalid">
                    {{isNaNErr()}}                                                   
                </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width"> 
                <mat-select placeholder="Active When" formControlName="activewhenCtrl">
                    <mat-option *ngFor="let active of activeWhen" [value]="active.value">
                        {{ active.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>  

            <mat-form-field class="half-width"> 
                <mat-select placeholder="Is this for a Promotion?" formControlName="promoCtrl">
                    <mat-option *ngFor="let p of promotion" [value]="p.value">
                        {{ p.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>  

        <div> 
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext [disabled]="
                attachCallPlanFormGroup.get('titleCtrl').invalid ||
                attachCallPlanFormGroup.get('availableCtrl').invalid ||
                attachCallPlanFormGroup.get('validthroughCtrl').invalid ||
                attachCallPlanFormGroup.get('buypriceCtrl').invalid ||
                attachCallPlanFormGroup.get('sellpriceCtrl').invalid ||
                attachCallPlanFormGroup.get('dayperiodCtrl').invalid ||
                attachCallPlanFormGroup.get('rankingCtrl').invalid ||
                attachCallPlanFormGroup.get('plantypeCtrl').invalid ||
                attachCallPlanFormGroup.get('activewhenCtrl').invalid ||
                attachCallPlanFormGroup.get('promoCtrl').invalid
            "> Next</button>
        </div>     
        </form>
    </mat-step> 

    <!-- Enter Code Initial Step -->
    <mat-step [stepControl]="attachCodesFormGroup" [completed]="false">
        <form [formGroup]="attachCodesFormGroup" >
        <ng-template matStepLabel>Enter Code Info</ng-template>

            <mat-form-field> 
                <mat-select placeholder="Carrier Code" formControlName="carrierCtrl">
                    <mat-option *ngFor="let code of carrierObj" [value]="code.code">
                        {{code.code}} - {{code.carrier}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Plan Type" formControlName="plantypeCtrl">
                    <mat-option *ngFor="let planType of planTypes" [value]="planType.code">
                        {{planType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Plan Priority" formControlName="planpriorityCtrl">
                    <mat-option *ngFor="let planPriority of planPriorityList" [value]="planPriority.num">
                        {{planPriority.num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field >
                    <input matInput placeholder="Length of plan in days" formControlName="dayperiodCtrl" matTooltip="Type 0 for unlimited days" >
            </mat-form-field>

            <mat-form-field >
                    <input matInput placeholder="Enter Plan Number" formControlName="plannumberCtrl" >
            </mat-form-field>

        <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext [disabled]="attachCodesFormGroup.invalid" >Next</button>
        </div>
        </form>
    </mat-step>
      
    <!-- Enter Country Code Step -->
    <mat-step [stepControl]="attachCountryCodeFormGroup" [completed]="false">
        <form [formGroup]="attachCountryCodeFormGroup">
        <ng-template matStepLabel>Enter Code Info</ng-template>
            <div class="country-code-form">
                <div formArrayName="codes" *ngFor="let codeFG of attachCountryCodeFormGroup.get('codes').controls; let counter=index">
                <span> <b>Code Group {{counter + 1}}:</b> </span>
                    <div [formGroupName]="counter">

                        <mat-form-field class="half-width"> 
                            <mat-select placeholder="Origination Country" formControlName="originationCtrl">
                                <mat-option *ngFor="let code of countryCodeList" [value]="code.code">
                                    {{code.code}} - {{code.country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="half-width"> 
                            <mat-select placeholder="Destination Country" formControlName="destinationCtrl">
                                <mat-option *ngFor="let code of countryCodeList" [value]="code.code">
                                    {{code.code}} - {{code.country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div> <!-- end nested array FormGroup -->
            </div>
        <div>
            <button mat-button (click)="addCodes()">Add New Country Code</button>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext (click)="codesObjBuilder()" >Next</button>
        </div>
        </form>
    </mat-step>
    
    <!-- Details & Finalize  -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Review, Submit</ng-template>
            <div class="details">
                <span><b>Combined JSON for DB</b></span>
                <pre>{{finalCallPlanObj | json}}</pre>
            </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>  
            <button mat-button (click)="click_addCallPlan()">Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>