button {
    border: 1px solid black;
}

mat-form-field {
    width: 96%;
    margin-bottom: 1%;
}

.half-width {
    width: 49%;
}

.country-code-form {
    overflow-y: scroll; height: 30vh;
}

.details {
    overflow-y: scroll; height: 30vh;
}