.buttongroup {

    margin-top: 10px; margin-left: 10px;

    button {
        font-size: 12px;

    }

    .add {
        background-color: #D9ECDC;
        border: 1px solid #6C766E;
        // color: #155724;
    }

    .del {
        background-color: #F3D8DB;
        border: 1px solid #918183;
        // color: #721c24;
    }

}