nav{
    height: 100vh; width: 160px;
    position: fixed; margin-top: 50px;
    user-select: none;
    background-color: #252D32;

    .active-link-parent > .parent-icon {
        color: #557DA1;
    }

    .active-link-child > span, .active-link-child > .fa-circle {
        color: #ffffff;
    }

    div.main-menu-item {
        height: 40px; width: 160px; line-height: 40px;
        color: #ffffff; 
        text-decoration: none;
        display: inline-block;

        .parent-icon {
            margin-left: 10px;
        }
        
        .link-name {
            margin-left: 10px;
        }

        .fa-chevron-down {
            float: right;
            margin-top: 15px;
            margin-right: 10px;
        }

        .rotate {
            transform: rotate(180deg);
        }

        &:hover {
            background-color:#434e53;
            cursor: pointer;
        }
        &:focus {
            outline: 0;
        }
    }

    div.nested-menu-container {
        display: none;
        height: auto; width: 100%;
        transition: height 2s;

        .nested-menu-item {
            height: 30px; width: 100%;
            background-color: #2F3B40;
            color: #B1CEE1;
            line-height: 30px;

            .fa-circle {
                margin-left: 20px;
                font-size: 14px;
            }

            .link-name {
                margin-left: 10px;
                font-size: 14px;
            }

            &:hover {
                color: #ffffff;
                cursor: pointer;
            }
            &:focus {
                outline:0;
            }

        }
    }
    div.nested-menu-container.expand {
        display: block;
    }
}
nav.active {
    width: 60px;
}