<nav>
  <a routerLink="dashboard" routerLinkActive="active-link"><i class="fa fa-tachometer"></i> Dashboard</a>
  <a routerLink="carrier"  routerLinkActive="active-link"><i class="fa fa-sellsy"></i> Carrier Prime NG</a>
  <a routerLink="carrier-aggrid" routerLinkActive="active-link"><i class="fa fa-sellsy"></i> Carrier AG-Grid</a>
  <a routerLink="rates"  routerLinkActive="active-link"><i class="fa fa-files-o"></i> Rates</a>
  <a routerLink="accounts"  routerLinkActive="active-link"><i class="fa fa-address-card-o"></i> Accounts</a>
  <a routerLink="metrics"  routerLinkActive="active-link"><i class="fa fa-tachometer"></i> Metrics</a>
</nav>
