
nav{
    height: 100vh; width: 150px;
    position: fixed; left: 0;
    margin-top: 50px;
    user-select: none;

    background-color: #272728;

    a {
        height: 40px; width: 100%; line-height: 40px;

        display: block;
        color: #ffffff;
        text-decoration: none;
        border-bottom: .5px dotted white;

        .icon {
            margin-left: 10px;
        }

        span.active {
            margin-left: 20px;
            text-align: center;
        }
    }

    a:hover {
        background-color:#4d4d4f;
    }

    .active-link {
        background-color:#4d4d4f;
    }

    mat-expansion-panel {
        background-color: #272728 !important;
        border-bottom: .5px dotted white;
        padding-bottom: none;
        width: 150px;

        a {
            width: 150px;
            margin-left: -25px;
        }
    }

    mat-expansion-panel-header {
        height: 40px !important;
        border-bottom: .5px dotted white;
    }

    .mat-expansion-indicator::after {
        color: white;
    }

    mat-panel-title {
        color: white !important;
    }

    .mat-expansion-indicator {
        color: white;
    }
    
}

nav.active {
    width: 60px;
}