<section id="grid-wrapper">
    <div class="table-container">
        <ag-grid-angular class="ag-theme-balham" 
            [columnDefs]="columnDefs" [rowData]="rowData" [animateRows]="true"
            [rowSelection]="rowSelection" (selectionChanged)="selectionChanged()" [suppressRowClickSelection]="true"
            [stopEditingWhenGridLosesFocus]="true" [singleClickEdit]="true" 
            [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"
            [pagination]="true" [paginationAutoPageSize]="true"
            [headerHeight]="40" [floatingFiltersHeight]="30"
            [enableCellChangeFlash]="true"

            (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>  
        
        <mat-toolbar-row>
            <button (click)="openDialogDel()" [disabled]=""> <i class="fas fa-trash-alt"></i> </button>
            <button (click)="openDialogAdd()"> <i class="fas fa-plus"></i> Profile </button>
            <mat-form-field class="search-bar">
                <span matPrefix><i class="fas fa-search"></i> &nbsp;</span>
                <input matInput placeholder="Search Profile Table..." >
            </mat-form-field>
        </mat-toolbar-row>
    </div>
</section>

