<section id="grid-wrapper">
    <div class="table-container">
        <div class="top-toolbar">
            <app-expand-collaspe  (collaspeExpandEvent)='expandCollaspeHandler($event)'></app-expand-collaspe>
            <i class="anticon anticon-question-circle-o"></i>
        </div>
        
        <ag-grid-angular class="ag-theme-balham" 
            [columnDefs]="columnDefs" [rowData]="rowData" [animateRows]="true"
            [stopEditingWhenGridLosesFocus]="true" [singleClickEdit]="true" (cellValueChanged)="onCellValueChanged($event)"
            [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"
            [pagination]="true" [paginationAutoPageSize]="true"
            [getNodeChildDetails]="getNodeChildDetails"
            [suppressLoadingOverlay]="true" [suppressNoRowsOverlay]="true"
            [headerHeight]="40" [floatingFiltersHeight]="30"

            [enableCellChangeFlash]="true"

            (gridReady)="on_GridReady($event)"
        >
        </ag-grid-angular>

        <mat-toolbar-row>
            <button (click)="openDialogUpload()"> <i class="fas fa-upload"></i> Rate Card</button>
            <span> (Rates from CSV/Total Rates processed)  <b>{{numberOfRatesInResponse}}/{{numberOfRatesInRatecard}}</b></span>
            <mat-form-field class="search-bar">
                    <span matPrefix><i class="fas fa-search"></i> &nbsp;</span>
                    <input matInput placeholder="Search Table...">
            </mat-form-field>
        </mat-toolbar-row>
    </div>

</section>