<mat-horizontal-stepper>

    <!-- Enter Carrier Info Step -->
    <mat-step [stepControl]="addCarrierFormGroup" [completed]="false">
        <form [formGroup]="addCarrierFormGroup">
        <ng-template matStepLabel>Enter Carrier Info</ng-template>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="nameCtrl">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="emailCtrl">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Address" formControlName="addressCtrl">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone Number" formControlName="phoneCtrl">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select matInput placeholder="Taxable" formControlName="taxableCtrl">
                    <mat-option *ngFor="let taxable of taxableOptions" [value]="taxable.value">
                        {{taxable.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select matInput placeholder="Tier" formControlName="tierCtrl">
                    <mat-option *ngFor="let tier of tierOptions" [value]="tier.value">
                        {{tier.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Code" formControlName="codeCtrl">
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-button matStepperNext> Next </button>
            </div>
            <!-- [disabled]="!addCarrierFormGroup.valid" -->
        </form>
    </mat-step>

    <!-- Details & Finalize  -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Review, Submit</ng-template>
            <div class="details">
                {{finalCarrierObj | json}}
            </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>  
            <button mat-button (click)="click_addCarrier()">Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>


