header {
    height: 50px; width: 100vw;
    position: fixed; left: 0; top: 0;

    background-color: #518CB8;

    .app-title {
        height: 50px; width: 160px;
        position: fixed; 

        background-color: #497EA5; 

        text-align: center; line-height: 50px; font-size: 20px;
        color: white;

        span{
            font-weight: bold;
        }

        .toggle-sidenav {
            margin-left: 10px;
            font-size: 20px;
            border: 1px solid lightgray;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        .toggle-sidenav:hover {
            color: lightgray;
            border: 1px solid white;
        }
    }

    .app-title.active {
        width: 60px;
        background-color: black;
    }

    .toggle-sidenav.active {
        text-align: center;
        margin-left: 0px;
        margin-right: 9px;
    }

    .account-container {
        min-height: 50px; min-width: 200px;
        position: fixed; 
        line-height: 50px; text-align: center;
        color: white;
        right: 0;

        .toggle-sidenav {
            float: left;
        }

        .login:hover, .registration:hover {
            color: #E3E3E3;
            cursor: pointer;
        }
    }

}
