<mat-horizontal-stepper linear>

    <mat-step [stepControl]="addCarrierProfileFormGroup" [completed]="false">
        <form [formGroup]="addCarrierProfileFormGroup">
        <ng-template matStepLabel>Select Carrier</ng-template>

            <mat-form-field class="full-width-form-field">
                <mat-select placeholder="Carrier Name" formControlName="carrierNameCtrl">
                    <mat-option *ngFor="let carrier of carrierObj" [value]="carrier.name">
                        {{ carrier.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width-form-field">
                <input matInput placeholder="Profile Name" formControlName="profileNameCtrl">
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-button matStepperNext (click)="click_generateProfilePreview()" [disabled]="!addCarrierProfileFormGroup.valid"> Next </button>
            </div>

        </form>
    </mat-step>

    <!-- Details & Finalize  -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Review, Submit</ng-template>
            <div class="details">
                <pre>{{profilePreviewObj | json}}</pre>
            </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>  
            <button mat-button class="submit" (click)="click_sendProfileReq()">Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>


