/deep/ .snackbar-error-container {
    background-color: #F44336;  
  }
  
  section {
    .top-container {
      height: 2em;
  
      .fa-exclamation-circle {
        font-size: 1.8em;
        float: left;
      }
  
      span {
        line-height: 1.8em;
        margin-left: 1em;
        font-size: 1.2em;
        font-weight: bold;
      }
  
    }
  
    .bottom-container {
      height: 2em;
  
      span {
        line-height: 3em;
        font-size: .9em;
      }
    }
  }
  