// Dialog Body 
/deep/ .ratecard-trunks-screen-dialog { 
    width: 100vw; height: 98vh;
}

// Global Styles
.mat-button {
    border: 1px solid black;
}

.submit {
    float: left;
    border: 2px solid green;
}

.close {
    float: right;
    border: 1px solid black;
}

// Tables
section {
    width: 100%; height: 93%;

    .ratecardAll-container {
        width: 45%; height: auto;
        float: left;
    
        #ratecardgroup-table {
            width: 100%; height: 80vh;
            float: left;
        }
    }
    
    .trunk-container {
        width: 10%; height: auto;
        float: left;
    
        #trunk-table {
            width: 100%; height: 76.5vh;
            float: left;
        }
    }

    .ratecard-importer {
        width: 45%; height: auto;
        float: left;
    
        #review-table {
            width: 99%; height: 80vh;
            float: left;
        }
    }

}




