
section {
    width: 85%; height: auto;
    margin-top: 50px; margin-left: 230px;

    position: fixed;
    background-color: white;
    overflow: hidden;

    header {
        margin-left: 30px;
    }
}