section {
    margin-top: 5px; margin-left: 5px; margin-right: 5px;
    display: flex;

    .callplan-container {
        flex: 1; height: auto;

        #callplan-table {
            width: 100%; height: 85vh;
        }
    }

    .stepper-container {
        flex: 2; height: auto;


        form {
            display: flex;
            flex-direction: column;
            align-content: center;

            mat-form-field {    
                flex: 1;
                padding-left: 5%;
                padding-right: 5%;
            }
        }


    }
}