<section>
    <div class="lcr-callplan-all-container">
        <ag-grid-angular id="callplan-table" class="ag-theme-material" 
            [columnDefs]="columnDefs" [rowData]="rowData" [animateRows]="true"
            [enableFilter]="true" [floatingFilter]="true"
            [rowSelection]="rowSelection" (selectionChanged)="selectionChanged($event)" [suppressRowClickSelection]="true"
            [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"
            [pagination]="true" [paginationAutoPageSize]="true"
        
            (gridReady)="on_gridReady($event)"
        >
        </ag-grid-angular>
        <div class="toolbar-ratecards-list">
        </div>
    </div>

    <div class="lcr-callplan-detail-container">
        <ag-grid-angular id="callplan-detail-table" class="ag-theme-material" 
            [columnDefs]="columnDefsDetails" [rowData]=""
            [enableFilter]="true" [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"
            [suppressLoadingOverlay]="true" [suppressNoRowsOverlay]="true"
        
            (gridReady)="on_gridReady_details($event)"
        >
        </ag-grid-angular>
        <ag-grid-angular id="callplan-detail-table2" class="ag-theme-material" 
            [columnDefs]="columnDefsDetails2" [rowData]=""
            [enableFilter]="true" [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"
            [suppressLoadingOverlay]="true" [suppressNoRowsOverlay]="true"
        
            (gridReady)="on_gridReady_details2($event)"
        >
        </ag-grid-angular>
    </div>
</section>