section {
    width: 100%; height: 100%;

    .lcr-callplan-all-container {
        width: 40vw; height: 100vh;
        border-right: 1px solid #E0E0E0;
        float: left;

        #callplan-table {
            width: 98%; height: 85vh;
            float: left;
            border-top: 1px solid #E0E0E0;
        }
    }
    
    .lcr-callplan-detail-container {
        width: 54vw; height: 100vh;
        float: left;

        #callplan-detail-table {
            width: 98%; height: 20vh;
            float: left;
            border-top: 1px solid #E0E0E0;
        }

        #callplan-detail-table2 {
            width: 98%; height: 20vh;
            float: left;
            border-top: 1px solid #E0E0E0;
        }
    }

}
