<ng-sidebar-container>

    <!-- Rates & Trunks Sidebar -->
    <ng-sidebar
        class="ng-sidebar" 
        [(opened)]="booleanViewRatesTrunks"
        position="right"
    >
        <aside class="tabsContainer">
            <nz-tabset>
                <nz-tab nzTitle="View Rates" class="tabBody">
                    <div class="ratesGridContainer">
                        <ag-grid-angular class="ag-theme-balham" id="rates-table"
                            [columnDefs]="columnDefsRates"
                            [enableColResize]="true"
                            [rowSelection]="rowSelectionTypeM" 
                            (selectionChanged)="aggrid_rates_selectionChanged()"  
                            [suppressRowClickSelection]="true"
                            (cellValueChanged)="aggrid_onCellValueChanged_rates($event)"
                            [stopEditingWhenGridLosesFocus]="true" 
                            [singleClickEdit]="true"
                            [enableFilter]="true" 
                            [floatingFilter]="true" 
                            [enableSorting]="true"
                            [enableColResize]="true" 
                            (gridSizeChanged)="gridSizeChanged($event)"
                            [headerHeight]="40" 
                            [floatingFiltersHeight]="30"
                            [enableCellChangeFlash]="true"
                        
                            (gridReady)="on_GridReady_Rates($event)"
                        >
                        </ag-grid-angular>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="View Trunks" class="tabBody">
                    Content of Tab Pane 1
                </nz-tab>
            </nz-tabset>

        </aside>
    </ng-sidebar>

    <!-- Page Content -->
    <div ng-sidebar-content class="ng-sidebar-content">

        <!-- Top toolbar Component HERE -->
        <section class="topToolbar">
            <app-expand-collaspe (collaspeExpandEvent)="expandCollaspeHandler($event)"></app-expand-collaspe>
            <span (click)="onClickToggleSdiebar()"><i class="anticon anticon-info-circle-o"></i> Rates | Trunks</span>
        </section>

        <!-- Main Table Component HERE -->
        <section class="grid-wrapper">
            <ag-grid-angular class="ag-theme-balham" id="all-ratecards-table"
                [getNodeChildDetails]="getNodeChildDetails"
                [columnDefs]="columnDefs" 
                [rowData]="rowData"
                [rowSelection]="rowSelectionTypeM" 
                (selectionChanged)="aggrid_selectionChanged()" 
                (rowSelected)="rowSelected()"
                [groupSelectsChildren]="true"
                [stopEditingWhenGridLosesFocus]="true" 
                (cellValueChanged)="aggrid_onCellValueChanged($event)" 
                [singleClickEdit]="true" 
                [suppressRowClickSelection]="true"
                [floatingFilter]="true" 
                [enableSorting]="true"
                [enableColResize]="true" 
                (gridSizeChanged)="gridSizeChanged($event)"
                [suppressLoadingOverlay]="true" 
                [suppressNoRowsOverlay]="true"
                [headerHeight]="40" 
                [floatingFiltersHeight]="30"
                [enableCellChangeFlash]="true"

                (gridReady)="on_GridReady($event)"
            >
            </ag-grid-angular>
        </section>
    </div>
</ng-sidebar-container>


<!-- 

            <mat-tab label="Trunks">
                <ag-grid-angular class="ag-theme-balham" id="trunks-table"
                    [columnDefs]="columnDefsTrunks" [rowData]="" [animateRows]="true"
                    (selectionChanged)="aggrid_trunks_selectionChanged()" (rowSelected)="rowSelected_trunks($event)"
                    [stopEditingWhenGridLosesFocus]="true" (cellValueChanged)="aggrid_onCellValueChanged($event)" [suppressRowClickSelection]="true"
                    [floatingFilter]="true"
                    [enableSorting]="true"
                    [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"
                    [pagination]="true" [paginationAutoPageSize]="true"
                    [suppressLoadingOverlay]="true" [suppressNoRowsOverlay]="true"
                    [headerHeight]="40" [floatingFiltersHeight]="30"
        
                    [enableCellChangeFlash]="true"
        
                    (gridReady)="on_GridReady_Trunks($event)"
                >
                </ag-grid-angular>
                <mat-toolbar-row>
                    <button (click)="openDialogDetachTrunks()" [disabled]="toggleButtonStates_trunks()" class="del"> <i class="fas fa-trash-alt"></i> </button>
                    <mat-form-field class="search-bar">
                            <span matPrefix><i class="fas fa-search"></i> &nbsp;</span>
                            <input matInput placeholder="Global Search..." (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue">
                    </mat-form-field>
                </mat-toolbar-row>
            </mat-tab>
        </mat-tab-group>


 -->



