// Ang Material Stepper 
@media only screen and (max-width: 1800px) {
    /deep/ .mat-step-label {
        font-size: 11px;
    }
}

.uploadBtn {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

button {
    border: 1px solid black;
    margin-right: 5px;
}

.rate-modifier-form-group {
    display: flex;

    .toggle-checkbox {
        flex: 1;
        margin-top: 15px;
        padding-right: 10px;
    }

    .percent-input {
        flex: 4;
    }

    .percent-display {
        flex: 1;
        margin-top: 15px;
    }
}

mat-checkbox {
    user-select: none;
}

pre {
    height: 20vh;
    overflow-y: scroll;
}

.profiles {
    margin-bottom: 2%;
}

#trunks-table {
    height: 50vh; width: 100%;
}
