section {
    width: 99%; height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    // Global Styles
    .mat-button {
        border: 1px solid black;
    }

    .submit {
        float: left;
        border: 2px solid green;
    }

    .close {
        float: right;
        border: 1px solid black;
    }

    .ratecardAll-container {
        width: 45%; height: auto;
        float: left;
    
        #ratecardgroup-table {
            width: 100%; height: 86vh;
            float: left;
        }
    }
        
    .trunk-container {
        width: 10%; height: auto;
        float: left;
    
        #trunk-table {
            width: 100%; height: 83.5vh;
            float: left;
        }
    }

    .ratecard-importer {
        width: 44.9%; height: auto;
        float: left;
    
        #review-table {
            width: 100%; height: 86vh;
            float: left;
        }
    }

}




