<section>
    <div class="ratecardAll-container">
        <ag-grid-angular id="ratecardgroup-table" class="ag-theme-balham" 
        [columnDefs]="columnDefs" [rowData]="rowData"
        [enableFilter]="true" [floatingFilter]="true"
        [rowSelection]="rowSelection" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" 
        [enableSorting]="true"
        [enableColResize]="true"
        [getNodeChildDetails]="getNodeChildDetails"
        [pagination]="true" [paginationAutoPageSize]="true"
        [headerHeight]="40" [floatingFiltersHeight]="30"

        (gridReady)="on_GridReady($event)"
        >
        </ag-grid-angular>
        <div class="toolbar-ratecards-list">
            <button mat-button (click)="click_deselectAll()"> Clear All </button>
        </div>
    </div>

    <div class="trunk-container">
        <ag-grid-angular id="trunk-table" class="ag-theme-balham" 
        [columnDefs]="columnDefsTrunk" [rowData]="rowDataTrunk"
        [enableFilter]="true" [floatingFilter]="true"
        [enableColResize]="true" [enableSorting]="true"
        (selectionChanged)="onSelectionChangedTrunk($event)"
        [headerHeight]="40" [floatingFiltersHeight]="30"

        (gridReady)="on_GridReady_trunk($event)"
        >   
        </ag-grid-angular>
    </div>
    <div class="ratecard-importer">
        <ag-grid-angular id="review-table" class="ag-theme-balham" 
        [columnDefs]="columnDefsReview" [rowData]=""
        [enableFilter]="true" [floatingFilter]="true"
        [enableColResize]="true" [enableSorting]="true"
        [pagination]="true" [paginationAutoPageSize]="true"
        [headerHeight]="40" [floatingFiltersHeight]="30"
        
        (gridReady)="on_GridReady_review($event)"
        >
        </ag-grid-angular>
        <button mat-button class="submit" (click)="click_attachTrunks()"> Attach Trunks </button>
    </div>
</section>
    