mat-form-field {
    width: 100%;
    padding: 0 5px 0 5px
}

button {
    border: 1px solid black;
}

/deep/ .mat-dialog-actions:last-child {
    margin-bottom: 0;
}

.half-width {
    width: 49%;
    margin-bottom: 1%;
}


