<section>

    <div class="callplan-container">
        <ag-grid-angular id="callplan-table" class="ag-theme-balham" 
            [columnDefs]="columnDefs" [rowData]="rowDataCallplan"
            [enableFilter]="true" [floatingFilter]="true"
            [rowSelection]="rowSelectionS" [suppressRowClickSelection]="true" (rowSelected)="rowSelected($event)"
            (selectionChanged)="onSelectionChanged($event)" [enableSorting]="true"
            [enableColResize]="true" [getNodeChildDetails]="getNodeChildDetails"
            [pagination]="true" [paginationAutoPageSize]="true"
        
            (gridReady)="on_GridReady_Callplan($event)"
        >
        </ag-grid-angular>
    </div>

    <div class="ratecard-container">
        <ag-grid-angular id="ratecardgroup-table" class="ag-theme-balham" 
            [columnDefs]="columnDefs" [rowData]="rowDataRatecard"
            [enableFilter]="true" [floatingFilter]="true"
            [rowSelection]="rowSelectionM" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" (rowSelected)="rowSelected($event)"
            (selectionChanged)="onSelectionChanged($event)" [enableSorting]="true"
            [enableColResize]="true"
            [getNodeChildDetails]="getNodeChildDetails"
            [pagination]="true" [paginationAutoPageSize]="true"
        
            (gridReady)="on_GridReady_Ratecard($event)"
        >
        </ag-grid-angular>
            <button mat-button (click)="deselectAll()" [disabled]="toggleButtonStates()"> Deselect All </button>
    </div>

    <div class="ratecard-importer">
        <ag-grid-angular id="ratecardReview-table" class="ag-theme-balham" 
            [columnDefs]="columnDefsReview" [rowData]=""
            [stopEditingWhenGridLosesFocus]="true" [singleClickEdit]="true" 
            [enableFilter]="true" [floatingFilter]="true"
            [enableColResize]="true" [enableSorting]="true"
            [pagination]="true" [paginationAutoPageSize]="true"
            [enableCellChangeFlash]="true"
            (gridReady)="on_GridReady_Review($event)"
        >
        </ag-grid-angular>
            <button mat-button> Attach Ratecards </button>
            <mat-slider max="10" min="1" thumb-label="true" value="1" tickInterval="1" (change)="handleSliderChange($event)" [disabled]="toggleButtonStates()"></mat-slider>
            <span><strong>Priority:</strong> {{currentSliderValue}}</span>
    </div>
    
</section>
