<mat-horizontal-stepper> <!-- linear forces user to complete ea step -->
    
    <!-- Choose Carrier Step -->
    <mat-step [stepControl]="carrierFormGroup" [completed]="false">
        <form [formGroup]="carrierFormGroup">
            <ng-template matStepLabel>Choose Carrier</ng-template>
            <mat-form-field>
                <mat-select placeholder="Carriers" formControlName="carrierCtrl">
                    <mat-option *ngFor="let option of carrierObj" [value]="option.id" >
                        {{option.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext [disabled]="!carrierFormGroup.valid"> Next </button>
            </div>
        </form>
    </mat-step>
    
    <!-- Choose Rate Card Step -->
    <mat-step [stepControl]="ratecardFormGroup" [completed]="false">
        <form [formGroup]="ratecardFormGroup">
            <ng-template matStepLabel>Enter Rate Card Name</ng-template>
            <mat-form-field>
                <input matInput placeholder="Enter Ratecard Name" formControlName="ratecardCtrl">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext [disabled]="!ratecardFormGroup.valid"> Next </button>
            </div>
        </form>
    </mat-step>
    
    <!-- Choose Sell Rate Mark up Step -->
    <mat-step [stepControl]="percentFormGroup" [completed]="false">
        <form [formGroup]="percentFormGroup">
            <ng-template matStepLabel>Choose Upload Conditions</ng-template>

            <mat-checkbox disableRipple formControlName="teleUCheckboxCtrl" >Add to Tele-U</mat-checkbox>  
            <mat-form-field class="percent-dropdown">              
                <mat-select placeholder="Percent" formControlName="teleUPercentCtrl" [disabled]="checkBoxValueTeleU()">
                    <mat-option *ngFor="let option of percents" [value]="option.value" >
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <hr>

            <mat-checkbox disableRipple formControlName="privateCheckboxCtrl" [disabled]="true">Add to Private</mat-checkbox>  
            <mat-form-field class="percent-dropdown" >              
                <mat-select placeholder="Percent" formControlName="privatePercentCtrl" [disabled]="true">
                    <mat-option *ngFor="let option of percents" [value]="option.value" >
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext (click)="construct_ratecardObj()"> Next</button>
            </div>
        </form>
    </mat-step>
    
    <!-- Upload Rates Step -->
    <mat-step [stepControl]="uploadRatesFormGroup" [completed]="false">
        <form [formGroup]="uploadRatesFormGroup">
            <ng-template matStepLabel>Upload CSV</ng-template>
            <button class="uploadBtn" mat-button (click)="fileInput.click()">
                <span>Select CSV File</span>
                <input #fileInput type="file" (change)="changeListenerUploadBtn($event)" accept=".csv" formControlName="uploadRatesCtrl" style="display:none;" />
            </button>
            <div>
                <b>File Name:</b> {{fileName}} <br>
                <b>Rates Inserted:</b> {{ratesPreviewObj.length}} <br>
                <b>Preview First 3 rates:</b> <br>
                <pre>{{ratesPreviewObj[0] | json }} {{ratesPreviewObj[1] | json }} {{ratesPreviewObj[2] | json }}</pre>
            </div>
            <div>
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext [disabled]="uploadValidator()"> Next </button>
            </div>
        </form>
    </mat-step>
    
    <!-- Details & Finalize  -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Review, Submit</ng-template>
        <div class="details">
            <pre>{{finalRatecardPreviewObj | json}}</pre>
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="click_addRates()" >Submit</button>
        </div>
    </mat-step>
    
</mat-horizontal-stepper>
