.uploadBtn {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

button {
    border: 1px solid black;
}

.percent-dropdown {
    width: 65%;
    margin-left: 10%;
}

mat-checkbox {
    user-select: none;
}

pre {
    height: 20vh;
    overflow-y: scroll;
}

.profiles {
    margin-bottom: 2%;
}

#trunks-table {
    height: 50vh; width: 100%;
}

// /deep/ .mat-horizontal-stepper-header{
//     pointer-events: none !important;
// }