<main>
    <app-rate-card-manager-toolbar
        (e_addRatecardData)="addRatecardData($event)"
        (e_addRatecardDataToTable)="addRatecardDataToTable()"
    >
    </app-rate-card-manager-toolbar>
    <section>
        <ag-grid-angular class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [headerHeight]="40" [rowHeight]="70"
            [context]="context" [frameworkComponents]="frameworkComponents"
            [enableSorting]="true" [enableFilter]="true"
            [overlayLoadingTemplate]="overlayLoadingTemplate"
            (rowDataChanged)="rowDataChanged()"
            (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular> 
    </section>
    <app-rate-card-manager-bot-toolbar
        [_tableRowData]="tableRowData"
        [_markUp]="markUp"
        [_tableColDef]="tableColDef"
    >
    </app-rate-card-manager-bot-toolbar>
</main>

<app-rate-table-modal [passRatecardCellInfo]="ratecardCellInfo"></app-rate-table-modal>
<app-obie-table-modal [passObieCellInfo]="obieCellInfo"></app-obie-table-modal>
