main {
    padding: 5px 5px 0px 5px;

    section {
        height: calc(100vh - 200px);

        ag-grid-angular /deep/{
            height: 100%;

            .ag-cell-focus, .ag-cell-no-focus {
                border: none;
            }

            .ag-cell:focus {
                outline: none;
            }
        }
    }

}