<mat-horizontal-stepper linear> <!-- linear forces user to complete ea step -->
    
    <!-- Choose Rate Card Step -->
    <mat-step [stepControl]="attachRateCardFormGroup" [completed]="false">
        <form [formGroup]="attachRateCardFormGroup">
            <ng-template matStepLabel>Choose Rate Card</ng-template>
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Rate Card" formControlName="ratecardCtrl">
                    <mat-option *ngFor="let option of finalRateCardObj" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext [disabled]="attachRateCardFormGroup.invalid">Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Choose Plan Priority Step -->
    <!-- <mat-step [stepControl]="choosePriorityFormGroup" [completed]="false">
        <form [formGroup]="choosePriorityFormGroup">
            <ng-template matStepLabel>Choose Rate Card Priority</ng-template>
            <mat-form-field>
                <mat-select placeholder="Priority" formControlName="priorityCtrl" matTooltip="Larger number = higher priority">
                    <mat-option *ngFor="let plan of planPriorityList" [value]="plan.num">
                    {{plan.num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext [disabled]="choosePriorityFormGroup.invalid"> Next </button>
            </div>
        </form>
    </mat-step> -->

    <!-- Details & Finalize  -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Review, Submit</ng-template>
            <div class="details">
                Press submit to attach rate card.
                <br><br>
            </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>  
            <button mat-button (click)="click_attachRatecard()">Submit</button>
        </div>
    </mat-step>
    
</mat-horizontal-stepper>