.toggleContainer {

    .displayToggle {
        display: none;
    }

    .toggle {
        font-size: 1.1rem;

        &:hover {
            cursor: pointer;
            opacity: .7;
        }
    }

}