<div mat-dialog-title> Insert Ratecards into Callplan: <strong>{{callplanTitle}}</strong>
    <button mat-button class="submit" (click)="click_attachRatecard()" [disabled]="toggleButtonStates()"> Submit Ratecards </button>
</div>

<div class="ratecardAll-container">
    <ag-grid-angular id="ratecardgroup-table" class="ag-theme-balham" 
        [columnDefs]="columnDefs" [rowData]="rowData"
        [enableFilter]="true" [floatingFilter]="true"
        [rowSelection]="rowSelection" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" (rowSelected)="rowSelected()"
        (selectionChanged)="onSelectionChanged()" [enableSorting]="true"
        [enableColResize]="true"
        [getNodeChildDetails]="getNodeChildDetails"
        [pagination]="true" [paginationAutoPageSize]="true"
    
        (gridReady)="on_GridReady($event)"
    >
    </ag-grid-angular>
    <div class="toolbar-ratecards-list">
            <button mat-button (click)="deselectAll()" [disabled]="toggleButtonStates()"> Deselect All </button>
    </div>
</div>

<div class="ratecard-importer">
    <ag-grid-angular id="ratecardReview-table" class="ag-theme-balham" 
        [columnDefs]="columnDefsReview" [rowData]=""
        [stopEditingWhenGridLosesFocus]="true" [singleClickEdit]="true" 
        [enableFilter]="true" [floatingFilter]="true"
        [enableColResize]="true" [enableSorting]="true"
        [pagination]="true" [paginationAutoPageSize]="true"
        [enableCellChangeFlash]="true"
        (gridReady)="on_GridReady_Review($event)"
    >
    </ag-grid-angular>
    <div class="toolbar-callplan-list">
        <mat-slider max="10" min="1" thumb-label="true" value="1" tickInterval="1" (change)="handleSliderChange($event)" [disabled]="toggleButtonStates()"> 
        </mat-slider> <br>
        <span><strong>Priority:</strong> {{currentSliderValue}}</span>
    </div>
</div>
