<ag-grid-angular class="ag-theme-material"
[columnDefs]="columnDefs" [rowData]="rowData" [animateRows]="true"
[rowSelection]="rowSelection" 
[stopEditingWhenGridLosesFocus]="true" 
[floatingFilter]="true"
[enableSorting]="true"
[enableColResize]="true" 
[pagination]="true" [paginationAutoPageSize]="true"

[enableCellChangeFlash]="true"

>
</ag-grid-angular>

<!-- (gridSizeChanged)="on_GridSizeChanged($event)" (gridReady)="on_GridReady($event)"  (selectionChanged)="on_SelectionChanged($event)" -->