<section id="grid-wrapper">
    <ag-grid-angular class="ag-theme-material"
    [columnDefs]="columnDefs" [rowData]="rowData" [animateRows]="true"
    [rowSelection]="rowSelection" (selectionChanged)="on_SelectionChanged($event)"
    [stopEditingWhenGridLosesFocus]="true" (cellValueChanged)="aggrid_onCellValueChanged($event)" [suppressRowClickSelection]="true"
    [floatingFilter]="true"
    [enableSorting]="true"
    [enableColResize]="true" (gridSizeChanged)="on_GridSizeChanged($event)"
    [pagination]="true" [paginationAutoPageSize]="true"

    [enableCellChangeFlash]="true"

    (gridReady)="on_GridReady($event)"
    >
    </ag-grid-angular>

    <button mat-button class="add" (click)="openDialogAdd()"> Add Rate Card </button>
    <button mat-button class="del" (click)="openDialogDel()"> Delete Selected Rate Card </button>
    <button mat-button class="upload" (click)="openDialogUpload()" > Upload Rates </button>
</section>





