<footer>
    <span class="checkedNum"><b>Checked:</b> {{_numberOfChecked}}</span>
    <button nz-button nzType="primary" (click)="test()">
        <i class="anticon anticon-save"></i> Test 
    </button>
    <button nz-button nzType="primary" (click)="saveProfile()">
        <i class="anticon anticon-save"></i> Save Profile
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <nz-dropdown>
        <button nz-button nz-dropdown>
            <span>Download As...</span> 
            <i class="anticon anticon-down"></i>
        </button>
        <ul nz-menu>
            <li nz-menu-item><a (click)="downloadForA2Billing('txt')">.txt</a></li>
            <li nz-menu-item><a (click)="downloadForA2Billing('csv')">.csv</a></li>
        </ul>
    </nz-dropdown>
</footer>