section {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    .table-container {
        width: 100%; height: 100%;

        ag-grid-angular {
            width: 99.7%; height: 85vh;
    
            /deep/ .ag-header-row {
                font-weight: bold;
            }
        }

        mat-toolbar-row {
            height: auto;
    
            button {
                background-color: Transparent;
                width: auto;height: 30px;
                padding-right: 1em; padding-left: 1em;
                border: 1px solid #E0E0E0;
                margin-right: 5px;

                &:hover {
                    background-color: #E0E0E0;
                }

                &:focus {
                    outline: 0;
                }
            }

            mat-form-field {
                font-size: 14px;
            }
    
            .search-bar {
                float: right;
                width: 40%;
                padding-right: 5px;
                margin-top: -10px;
            }
        }
    }
}
