
header {
    min-height: 50px; width: 100vw;
    position: fixed; left: 0; top: 0;

    background-color: #F39C12;

    .app-title {
        min-height: 50px; min-width: 150px;
        position: fixed; 

        background-color: #DB8B0B; 

        text-align: center; line-height: 50px; font-size: 20px;
        color: white;

        span{
            font-weight: bold;
        }

    }

    .account-container {
        min-height: 50px; min-width: 200px;
        position: fixed; 
        line-height: 50px; text-align: center;
        color: white;
        right: 0;

        .login:hover, .registration:hover {
            color: #E3E3E3;
            cursor: pointer;
        }
    }

}
