<section>
    <div class="ratecards-table-container">
        <ag-grid-angular class="ag-theme-balham" id="ratecards-table"
            [getNodeChildDetails]="getNodeChildDetails"
            [columnDefs]="columnDefs" [rowData]="rowData" [animateRows]="true"
            [rowSelection]="rowSelectionTypeM" (rowSelected)="rowSelected()" [groupSelectsChildren]="true"
            [stopEditingWhenGridLosesFocus]="true" [singleClickEdit]="true" [suppressRowClickSelection]="true"
            [floatingFilter]="true" [enableSorting]="true"
            [enableColResize]="true" (gridSizeChanged)="gridSizeChanged($event)"
            [suppressLoadingOverlay]="true" [suppressNoRowsOverlay]="true"
            [pagination]="true" [paginationAutoPageSize]="true"
            [headerHeight]="40" [floatingFiltersHeight]="30"

            [enableCellChangeFlash]="true"

            (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>

        <button mat-button (click)="onConvertJsonToCsvOneFile()" class="stepOne"> Step 1 </button>
        <button mat-button (click)="formOneFile()" [disabled]="disableStep2"> Step 2 -> Download file </button>
    </div>
</section>