button {
    border: 1px solid black;
}

section {
    width: 100%; height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    .ratecards-table-container {
        width: 99%; height: auto;
        float: left;

        #ratecards-table {
            width: 100%; height: 80vh;
            float: left;
            margin-bottom: 10px;
        }
    }

    .stepOne {
        margin-right: 5px;
    }

}