<mat-horizontal-stepper> <!-- linear forces user to complete ea step -->

    <!-- Enter Code Step -->
    <mat-step [stepControl]="attachCodesFormGroup" [completed]="false">
        <form [formGroup]="attachCodesFormGroup">
        <ng-template matStepLabel>Enter Code Info</ng-template>

            <mat-form-field> 
                <mat-select placeholder="Carrier Code" formControlName="carrierCtrl">
                    <mat-option *ngFor="let code of carrierCodesObj" [value]="code.code">
                        {{code.code}} - {{code.carrier}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Plan Type" formControlName="plantypeCtrl">
                    <mat-option *ngFor="let planType of planTypes" [value]="planType.code">
                        {{planType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Plan Priority" formControlName="planpriorityCtrl">
                    <mat-option *ngFor="let planPriority of planPriorityList" [value]="planPriority.num">
                        {{planPriority.num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field >
                <input matInput placeholder="Length of plan in days" formControlName="dayperiodCtrl" matTooltip="Type 0 for unlimited days" >
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Plan Number" formControlName="plannumberCtrl" >
                    <mat-option *ngFor="let number of planNumber" [value]="number.num">
                        {{ number.num }}
                    </mat-option>
                </mat-select>
            </mat-form-field>         

        <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext >Next</button>
            <button mat-button (click)="insertDummyDataCodes()">TEST DATA</button>
        </div>
        </form>
    </mat-step>

     <!-- Enter Country Code Step -->
     <mat-step [stepControl]="attachCountryCodesFormGroup" [completed]="false">
            <form [formGroup]="attachCountryCodesFormGroup">
            <ng-template matStepLabel>Enter Code Info</ng-template>
                <mat-form-field class="half-width"> 
                    <mat-select placeholder="Origination Country" formControlName="originationCtrl">
                        <mat-option *ngFor="let code of countryCodeList" [value]="code.code">
                            {{code.code}} - {{code.country}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="half-width"> 
                    <mat-select placeholder="Destination Country" formControlName="destinationCtrl">
                        <mat-option *ngFor="let code of countryCodeList" [value]="code.code">
                            {{code.code}} - {{code.country}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <div>
                <!-- <button mat-button (click)="addCodes()">Add New Country Code</button> -->
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext (click)="codesObjBuilder()">Next</button>
            </div>
            </form>
        </mat-step>
    
    <!-- Details & Finalize  -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Review, Submit</ng-template>
            <div class="details">
                <pre>{{finalCodesObj | json}}</pre>
            </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>  
            <button mat-button (click)="click_attachCodes()">Submit</button>
        </div>
    </mat-step>
    
</mat-horizontal-stepper>