<mat-horizontal-stepper> <!-- linear forces user to complete ea step -->

    <!-- Enter Code Step -->
    <mat-step [stepControl]="attachCodesFormGroup" [completed]="false">
        <form [formGroup]="attachCodesFormGroup">
        <ng-template matStepLabel>Enter Code Info</ng-template>

            <mat-form-field> 
                <mat-select placeholder="Carrier Code" formControlName="carrierCtrl">
                    <mat-option *ngFor="let code of carrierCodesObj" [value]="code.code">
                        {{code.code}} - {{code.carrier}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Plan Type" formControlName="plantypeCtrl">
                    <mat-option *ngFor="let planType of planTypes" [value]="planType.code">
                        {{planType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field> 
                <mat-select placeholder="Plan Priority" formControlName="planpriorityCtrl">
                    <mat-option *ngFor="let planPriority of planPriorityList" [value]="planPriority.num">
                        {{planPriority.num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field >
                <input matInput placeholder="Length of plan in days" formControlName="dayperiodCtrl" matTooltip="Type 0 for unlimited days" >
                <mat-hint align="end">Type 0 for unlimited days</mat-hint>
                <mat-error *ngIf="attachCodesFormGroup.get('dayperiodCtrl').hasError('required')">
                    Plan in days is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="attachCodesFormGroup.get('dayperiodCtrl').hasError('pattern') && !attachCodesFormGroup.get('dayperiodCtrl').hasError('required')">
                    Please enter numbers only
                </mat-error>
            </mat-form-field>

            <mat-form-field> 
                <input matInput #input maxlength="2" placeholder="Enter Plan Number" formControlName="plannumberCtrl" >
                <mat-hint align="end">Plan number 00 -> 20 - {{input.value?.length || 0}} / 2</mat-hint>
                <mat-error *ngIf="attachCodesFormGroup.get('plannumberCtrl').hasError('required')">
                    Plan number days is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="attachCodesFormGroup.get('plannumberCtrl').hasError('pattern') && !attachCodesFormGroup.get('plannumberCtrl').hasError('required')">
                    Please enter numbers only
                </mat-error>
            </mat-form-field>         

        <div>
            <button mat-button matStepperPrevious >Back</button>
            <button mat-button matStepperNext [disabled]="!attachCodesFormGroup.valid">Next</button>
            <button mat-button (click)="insertDummyDataCodes()">TEST DATA</button>
        </div>
        </form>
    </mat-step>

     <!-- Enter Country Code Step -->
     <mat-step [stepControl]="attachCountryCodesFormGroup" [completed]="false">
            <form [formGroup]="attachCountryCodesFormGroup">
            <ng-template matStepLabel>Enter Code Info</ng-template>
                
            <div class="country-code-form">
                <div formArrayName="codes" *ngFor="let codeFG of attachCountryCodesFormGroup.get('codes').controls; let counter=index">
                <span> <b>Code Group {{counter + 1}}:</b> </span>
                <button *ngIf="attachCountryCodesFormGroup.get('codes').controls.length > 1" (click)="removeAddress(counter)" class="country-code-trash"> <i class="fas fa-trash"></i> </button>
                    <div [formGroupName]="counter">
                    
                        <div class="origination-section">
                            <mat-form-field class="select-width">
                                <mat-select placeholder="Origination Code" formControlName="originationCtrl">
                                <mat-option *ngFor="let code of countryCodeList" [value]="code.code">{{code.country}} - {{code.code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
            
                        <div class="destination-section">
                            <mat-form-field class="select-width">
                                <mat-select placeholder="Destination Code" formControlName="destinationCtrl" (change)="onSelectChangeDest($event)" multiple>
                                <mat-option *ngFor="let code of countryCodeList" [value]="code.code">{{code.country}} - {{code.code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
                    </div>
                </div> <!-- end nested array FormGroup -->
            </div>

            <div>
                <!-- <button mat-button (click)="addCodes()">Add New Country Code</button> -->
                <button mat-button (click)="addCodes()"> Add New Country Code</button>
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext (click)="codesObjBuilder()" [disabled]="!attachCountryCodesFormGroup.valid">Next</button>
            </div>
            </form>
        </mat-step>
    
    <!-- Details & Finalize  -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Review, Submit</ng-template>

                <pre>{{finalCodesObj | json}}</pre>

        <div>
            <button mat-button matStepperPrevious>Back</button>  
            <button mat-button (click)="click_attachCodes()">Submit</button>
        </div>
    </mat-step>
    
</mat-horizontal-stepper>